<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">
            <a href="{{ path('quiz_index') }}">Quiz application</a>
            <a class="btn btn-primary pull-right" href="{{ path('quiz_create') }}">New Quiz</a>
        </h3>

    </div>

    {% block body %}{% endblock %}

    <footer class="footer hidden">
        <p class="text-muted">&copy; Daniil Pyšniak {{ 'now'|date('Y') }}</p>
    </footer>
</div>
{% block javascripts %}
    <script src="{{ asset('assets/app.js') }}"></script>
{% endblock %}
</body>
</html>
