$brand-primary: darken(#6309aa, 20%);

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.choice-correct {
  @extend .alert, .alert-success;
  padding: 0 15px;
}

.choice-wrong {
  @extend .alert, .alert-danger;
  padding: 0 15px;
}

.choice-neutral {
  @extend .alert, .alert-info;
  background-color: transparent;
  border-color: transparentize($brand-primary, 0.8);
  padding: 0 15px;
}
