{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block _test_answer_widget %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {% if not child.vars.submitted %}
                {% set wrapperClass = 'neutral' %}
            {% elseif child.vars.correct %}
                {% set wrapperClass = 'correct' %}
            {% elseif child.vars.wrong %}
                {% set wrapperClass = 'wrong' %}
            {% else %}
                {% set wrapperClass = 'neutral' %}
            {% endif %}

            <div class="choice-{{ wrapperClass }}">
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            </div>
        {% endfor -%}
    </div>
{% endblock %}

{% block body %}
    {% set question = form.vars.value %}
    {{ form_start(form, {'action': path('quiz_take', {'quiz': quiz.id, 'question': question.id}), 'method': 'POST'}) }}
        <h1>{{  question.name }}</h1>
        {{ form_widget(form.answer) }}

        {% set previous = quiz.previousQuestion(question) %}
        {% if previous %}
            <a href="{{ path('quiz_take', {'quiz': quiz.id, 'question': previous.id}) }}"
               class="btn btn-default">
                Previous
            </a>
        {% endif %}

        <button class="btn btn-primary">
            Check
        </button>

        {% set next = quiz.nextQuestion(question) %}
        {% if next %}
            <a href="{{ path('quiz_take', {'quiz': quiz.id, 'question': next.id}) }}"
               class="btn btn-default">
                Next
            </a>
        {% endif %}
    {{ form_end(form) }}
{% endblock %}