{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {% for quiz in quizes %}
                <h3>
                    <a class="btn btn-sm btn-default" href="{{ path('quiz_edit', {'quiz': quiz.id}) }}">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-default" href="{{ path('quiz_delete', {'quiz': quiz.id}) }}">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('quiz_take', {'quiz': quiz.id, 'question': quiz.questions.first.id}) }}">
                        {{ quiz.name }}
                    </a>
                </h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
